* {
    background-color: cadetblue; /*Sätter en backgrundsfärg för alla mina sidor*/
}

.myHeader {
    color: #053638;
    font-size: 200%;
    padding: 20px;
    text-align: center;
}

.navBar {
    text-align: center;
    font-size: large;
    padding: 20px;
}

#para1{
    background-color: maroon;
}

#para2{
    background-color: mediumslateblue;
}

a:hover,
a:visited,
a:link {
    text-decoration: none;
}

h1,
p {
    background-color: lightcoral;
}